* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(228, 241, 254, 1);
}

header {
    height: 3rem;
    width: 100%;
    text-align: center;
    background-color: rgba(51, 110, 123, 1);
}

header span {
    display: inline;
    vertical-align: super;
    color: white;
    font-family: cursive, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section .entry {
    width: 50%;
    height: 400px;
    box-shadow: 0 0 1px 0 black;
}

@media (max-width:800px) {
    .entry {
        width: 100% !important;
    }
}

#triangle {
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#triangle div:nth-child(1) {
    height: 0;
    width: 0;
    border-top: 100px solid rgba(44, 130, 201, 1);
    border-bottom: 100px solid rgba(0, 181, 204, 1);
    border-left: 100px solid rgba(30, 139, 195, 1);
    border-right: 100px solid rgba(137, 196, 244, 1);
}

#spotlight-text {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#spotlight-text div:nth-child(1) {
    position: relative;
    color: #333;
    font-size: 6em;
}

#spotlight-text div:nth-child(1)::after {
    content: 'SPOTLIGHT';
    position: absolute;
    left: 0;
    color: transparent;
    background: linear-gradient(to left, #c23616, #192a56, #00d2d3, yellow, #6d214f, #2e86de, #4cd137, #e84118);
    -webkit-background-clip: text;
    clip-path: circle(60px at 0% 50%);
    animation: spotlight 3s ease-in-out infinite alternate;
}

@keyframes spotlight {
    100% {
        clip-path: circle(60px at 100% 50%);
    }
}

#neonlight {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#neonlight div:nth-child(1) {
    position: relative;
    width: 6em;
    height: 2em;
    box-sizing: border-box;
    padding-left: 1.1em;
    letter-spacing: .4em;
    border: 5px solid #333;
    border-radius: 20px;
    font-size: 6em;
    font-family: Yuanti SC;
    font-weight: 200;
    color: #333;
    line-height: 2em;
}

#neonlight div:nth-child(1)::after {
    content: 'NEON';
    position: absolute;
    box-sizing: border-box;
    padding-left: 1.1em;
    width: 6em;
    height: 2em;
    left: -5px;
    top: -5px;
    border: 5px solid rgb(165, 230, 245);
    box-shadow: 0 0 10px 5px rgba(51, 110, 123, 1) inset,
        0 0 10px 5px rgba(51, 110, 123, 1);
    border-radius: 20px;
    color: rgb(165, 230, 245);
    text-shadow: 0 0 20px rgb(165, 230, 245);
    opacity: 0;
    animation: neonlight 5s ease infinite;
}

@keyframes neonlight {
    10% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    12% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    17% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    21% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#typing {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#typing div:nth-child(1) {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 10ch;
    height: 1em;
    font-family: monospace;
    font-size: 6em;
    line-height: 1em;
    letter-spacing: 0;
    color: rgb(22, 101, 206);
    border-right: .05em solid;
    animation: typing 10s steps(10) infinite,
    caret 1s steps(1) infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 10ch;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#colorbutton {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#colorbutton div:nth-child(1) {
    position: relative;
    width: 300px;
    height: 80px;
    border-radius: 150px;
    background: linear-gradient(to left, #c23616, #192a56, #00d2d3, yellow, #6d214f, #2e86de, #4cd137, #e84118);
    background-size: 400%;
    text-align: center;
    font-size: 2.5em;
    line-height: 80px;
    color: white;
    z-index: 0;
}
#colorbutton div:nth-child(1)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 300px;
    height: 80px;
    border-radius: 150px;
    background: linear-gradient(to left, #c23616, #192a56, #00d2d3, yellow, #6d214f, #2e86de, #4cd137, #e84118);
    background-size: 400%;
    color: white;
    transition: .5s;
    z-index: -1;
}

#colorbutton div:nth-child(1):hover{
    cursor: pointer;
    animation: colorbutton 15s linear infinite alternate;
}
#colorbutton div:nth-child(1):hover::before{
    filter: blur(20px);
    animation: colorbutton 15s linear infinite alternate;
}
@keyframes colorbutton{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}

#clock{
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#clock div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    background-image: radial-gradient(circle at center,#708090 8px,transparent 8px),
    radial-gradient(circle at center 52%,rgba(0,0,0,0.2) 8px,transparent 8px),
    radial-gradient(circle at center,white 47%,transparent 47%,transparent 57%,white 57%),
    linear-gradient(to right,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%),
    linear-gradient(to bottom,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%),
    linear-gradient(30deg,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%),
    linear-gradient(60deg,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%),
    linear-gradient(-30deg,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%),
    linear-gradient(-60deg,transparent 50%,#d3d3d3 50%,#d3d3d3 51%,transparent 51%);
    box-shadow: 0 0 0 2px #708090, inset 0 4px 2px 4px rgba(0,0,0,0.1), 0 3px 2px 3px rgba(0,0,0,0.2);
    border: 10px solid white;
    box-sizing: border-box;
}
#clock div::before{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 6px;
    border-radius: 5px;
    background-color: rgb(250, 70, 70);
    top: calc((100% - 6px)/2);
    left: calc((100% - 70px)/2 - 35px);
    transform-origin: right;
    animation: second 60000ms steps(60) infinite;
}
#clock div::after{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 6px;
    border-radius: 5px;
    background-color: #4e5a65;
    top: calc((100% - 6px)/2);
    left: calc((100% - 60px)/2 - 30px);
    transform-origin: right;
    animation: minute 3600000ms steps(60) infinite;
}
@keyframes minute{
    0%{
        transform: rotateZ(90deg);
    }
    100%{
        transform: rotateZ(450deg);
    }
}
@keyframes second{
    0%{
        transform: rotateZ(90deg);
    }
    100%{
        transform: rotateZ(450deg);
    }
}